/* Global Styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('espressoo.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    text-align: center;
}

header {
    background-color: #8b0000;
    color: white;
    padding: 20px 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.about, .lyrics {
    max-width: 600px; /* Reduced width */
    margin: 20px auto;
    padding: 15px; /* Reduced padding */
    background: rgba(255, 255, 255, 0.8); /* Slight transparency to see more of the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

blockquote {
    font-style: italic;
    font-size: 1em; /* Reduced font size */
    line-height: 1.4; /* Reduced line height */
    border-left: 5px solid #8b0000;
    padding-left: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .about, .lyrics {
        padding: 15px;
    }

    blockquote {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .about, .lyrics {
        margin: 10px;
    }
}
